@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  outline: none;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* color: #1a1a1a; */
  background-color: #242424;
  /* background-color: white; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-wrapper {
  height: 100vh;
}

.btn {
  min-width: 180px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.auth {
  width: 100%;
  height: 100vh;
}
.header {
  border-bottom: 2px solid #06b6d4;
  border-radius: 10px;
}
.chat-icon {
  color: #06b6d4;
}
.bg-slate {
  background-color: #0f1e2a;
}
.bg-slateMinus {
  background-color: #142838;
  /* background-color: #1e3d55; */
}
.bg-slatePlus {
  background-color: #193347;
}
.chat-btn {
  background-color: #142838;
  border-radius: 0px;
}

.message__outer {
  display: flex;
}

.message__inner {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}
.message__bubble {
  max-width: calc(100% - 55%);
  overflow-wrap: break-word;
  background-color: #142838;
  border-radius: 20px;
}
.message__avatar {
  width: 3rem;
  padding: 10px;
  background-color: #193347;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__incoming {
  display: flex;
}

.message__incoming__inner {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.message__incoming__bubble {
  max-width: calc(100% - 55%);
  overflow-wrap: break-word;
  background-color: #142838;
  border-radius: 20px;
}
.message__incoming__avatar {
  width: 3rem;
  padding: 10px;
  background-color: #193347;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
.navbar {
  z-index: 10;
}
.message {
  height: 90vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}
.find {
}
